body {
  background-color: #D9D9D9;
  padding: 0;
  margin: 0;
}

/*HEADER CSS*/
.header-toolbar {
  background-color: white;
  padding-left: 0 !important;
  justify-content: space-between;
  margin: 0 !important;

  #logoText {
    text-align: center;
    background-color: #54bcbc;
    width: 20.3%;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
  }
}
.right-side {
  display: flex;
  
}
.__className_e66fe9{
  margin: 0px;
}


/*NAVBAR CSS*/
.side-nav-bar-container {
  width: 20%;
  background-color: white;
  /* height: 100%; */
  display: flex;
  float: left;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: calc(100vh - 65px);

}

.MuiListItemText-primary {
  font-size: 14px !important;
}

.MuiListItemIcon-root {
  min-width: 30px;
}

.nav-section-text {
  
  padding-left: 16px;
  font-size: 18px !important;
}
.button{
  height:50px;
  padding-left: 50px;
  display: flex; /* To center items vertically within the button */
  align-items: center;
}
.button-content{
  margin-left: 10px;
  color: black;
}

.side-nav-bar-container ul,
.side-nav-bar-container li {
  margin: 0;
  padding: 0;
}