.container-box {
    margin-top: 10px;
    margin-left: 23%;
    width: 72vw;
    height: 78vh;
    align-items: center;
    text-align: center;
    background: #54BCBC;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.add-button-branch {
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
}

.add-button svg {
    margin-right: 8px;
}

.button-container {
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
    align-self: flex-end;
}

.searchContainer{

    display:flex;
    flex-direction: row;
    margin-left: 30px;
    justify-content: space-between;
}

.searchContainer-right{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 400px;

}
#searchName{
    border-color: white;
    margin: 10px 35px 10px 10px;
    width: 200px;
}

/* branches.css */
.branch-container {
    background-color: white;
    padding: 10px; /* Adjust the padding to control the spacing between branches */
    margin: 10px;
    border: 1px solid #e0e0e0;
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center; /* Center the content within each branch element */
    border-radius: 10px;
  }

  #edit-button {
    padding: 2px;
    color: blue;
}

#delete-button {
    color: red;
    border: solid red 0.5px;
    padding: 2px;
}

#branch-num{
    font-size: larger;
    font-weight: 800;
}