.laundryBin-container {
  background-color: #ececec;
  width: 80%;
  display: flex;
  height: 89.5vh;
  float: right;
  justify-content: space-between;
}
.blue-container {
  display: flex;
  flex-direction: column;
  background-color: #54bcbc;
  width: 100%;
  margin: 20px;
  gap: 10px;
  border-radius: 10px;
}

.table-container {
  background-color: white;
  margin: 0px 30px 30px 30px;
  padding: 10px;
  flex-grow: 1; /* Allow the table container to expand to fill available space */
  overflow: auto; /* Enable scrolling when the content overflows */
}

.table-header {
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.table-body {
  text-align: center;
  align-items: center;
}