.mobile-container-box {
    margin-top: 10px;
    margin-left: 23%;
    width: 72vw;
    height: 78vh;
    align-items: center;
    text-align: center;
    background: #54BCBC;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.mobile-table-container {
    display: flex;
    gap: 10px;
    padding: 2rem;
    height: 100%;
    width: 100%;
    max-height: 400px;
}

.table-header {
    align-items: center;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

#delete-button {
    color: red;
    border: solid red 0.5px;
    padding: 2px;
}

.searchContainer {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-right: 600px;
    float: left;
    padding: 10px;

}

#searchName {
    border-color: white;
    margin: 10px;
    width: 200px;
}

.table-body {
    text-align: center;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 7px;
    width: 85%;
    height: 25px;
    border: 1px solid;
    border-color: gray;
    font-size: 17px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination button {
    background-color: #A9DDDD;
    color: white;
    border: 1px solid #A9DDDD;
    padding: 1px 2px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #526c74;
}