/* .table-header {
  background-color: #54BCBC;
  color: white;
  font-weight: bold;
}

.table-header-bold {
  font-weight: bold;
}

.table-cell {
  text-align: center;
}

.add-machine-button {
  margin-right: 5px;
}

.add-machine-button .MuiButton-root {
  background-color: #54BCBC;
  color: white;
  font-weight: bold;

}

.add-machine-button .MuiButton-root:hover {
  background-color: #3e9393;
}

.add-machine-form {
  display: flex;
  align-items: center;
  margin: 10px 0;
} */