.transactions-container{
    background-color: #ececec;
    width: 80%;
    display: flex;
    height:90vh;
    float:right;
    justify-content: space-between;
}
.blue-container{
    display:flex;
    flex-direction: column;
    background-color: #54BCBC;
    width: 100%;
    margin :20px;
    gap: 10px;
    border-radius: 10px;

}
.table-container{
    background-color: white;
    margin: 10px 30px;
    height:auto;
    
}
.searchContainer{
    display:flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}
.searchContainer-left{
    display:flex;
    align-content: center;
    align-items: center;
}
.searchContainer-right{
    display:flex;

}
.inputDate{
    border-color: white;
    margin: 10px 35px 10px 10px;
    width: 200px;
    height: 30px;
}
