.transactions-container{
    background-color: #ececec;
    width: 80%;
    display: flex;
    height:89.5vh;
    float:right;
    justify-content: space-between;
}
.blue-container{
    display:flex;
    flex-direction: column;
    background-color: #54BCBC;
    width: calc(100% - 40px);
    margin :20px;
    gap: 10px;
    border-radius: 10px;

}
.table-container{
    margin: 0px 30px 30px;
    padding: 10px;
    flex-grow: 1;
}

.searchContainer{
    display:flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-between;
}
.searchContainer-left{
    display:flex;
    align-content: center;
    align-items: center;
}
.searchContainer-right{
    display:flex;

}
.inputDate{
    border-color: white;
    margin: 10px 35px 10px 10px;
    width: 200px;
    height: 30px;
}

.pagination{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }