#edit-button {
  padding: 2px;
  color: blue;
  margin-right: 5px;
}
#delete-button {
  color: red;
  border: solid red 0.5px;
  padding: 2px;
}
/* .action-cell {
  display: flex;
  justify-content: center;
  gap: 10px;
} */
