body {
  margin: 0px;
  padding: 0px;
  background-color: aliceblue;
}

p {
  margin: 0px;
  margin-left: 10px;
  font-size: 10px;
  font-family: "Courier New", monospace;
}
h6 {
  margin: 2px;
  font-family: "Courier New", monospace;
  font-weight: bolder;
}
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.receipt-box {
  border: solid black 2px;
  padding: 20px;
  width: 250px;
  background-color: white;
}
.header {
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: solid black 2px;
  text-align: center;
  font-family: "Courier New", monospace;
}

.with-price {
  display: flex;
  justify-content: space-between;
}

#receipt {
  text-align: center;
  margin: 0;
  font-family: "Courier New", monospace;
}

#asterisk {
  margin: 0;
  padding: 0;
}