.blue-container {
    display: flex;
    flex-direction: column;
    background-color: #54BCBC;
    width: 100%;
    margin: 20px;
    border-radius: 10px;

}

.price-container {
    background-color: #ececec;
    width: 80%;
    display: flex;
    height: 90vh;
    float: right;
    justify-content: space-between;
}

.laundry-mode {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
    margin: 0px 20px 20px 0px;
    padding: 10px;
}

.wash-mode,
.dry-mode,
.weight,
.fold {
    width: 400px;
    margin: 0px 10px 30px 30px;
}

input {
    border-radius: 7px;
    width: 50%;
    height: 30px;
    border: 1px solid;
    font-size: 17px;
    margin-right: 20px;
}

.save {
    background-color: white;
    color: black;
    width: 450px;
    height: 50px;
    font-weight: bold;
    align-self: flex-start;
    margin: 10px 30px 0px 0px;
    border: white;
    border-radius: 10px;
    cursor: pointer;
}

.add-icon {
    margin: -3px 3px -7px 8px;
}


.add-mode {
    width: 20%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 0;
}

p {
    font-weight: 800;
    font-size: 20px;
}

.table-body {
    text-align: center;
}

.b-container{
    display: inline-block;
}

#edit-button {
    padding: 2px;
    color: blue;
    border: solid blue 0.5px;
    margin-right: 5px;
}

#delete-button {
    color: red;
    border: solid red 0.5px;
    padding: 2px;
}


/* .wash-mode {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    background-color: red;
}

.dry-mode {
    width: 100%;
    height: 100%;
    background-color: orange;
}

.weight {
    background-color: yellow;
}

.laundry-mode {
    padding: 10px;
    display: flex;
    margin: 0;
} */
