/* .add-machine-button {
    margin: 10px 0;
  }
  
  .add-machine-button .MuiButton-root {
    background-color: #54BCBC;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
  }
  
  .add-machine-button .MuiButton-root:hover {
    background-color: #3e9393;
  }
  
  .add-machine-form {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .add-machine-form .MuiFormControl-root {
    margin-right: 20px;
    width: 150px;
  }
  
  .add-machine-form .MuiButton-root {
    background-color: #54BCBC;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
  }
  
  .add-machine-form .MuiButton-root:hover {
    background-color: #3e9393;
  }
  
  .dialog-button {
    background-color: #54BCBC;
    height: 40px;
    color: white;
    width: 70px;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  
  .dialog-button:hover {
    background-color: #3e9393;
  }
   */