/* body {
  background-color: rgba(191, 191, 191, 0.5);
} */
p {
  font-weight: bold;
}
/* .__className_e66fe9 {
      font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
      font-style: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    } */
.update-supply-form {
  display: flex;
  flex-flow: column;
  width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}
.update-supply-text {
  border-bottom: solid gray 2px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.text-box {
  border: solid lightgray;
  line-height: 30px;
  width: 400px;
  border-width: thin;
  font-weight: bold;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  height: 50px;
}
.dialog-button {
  background-color: #54bcbc;
  height: 40px;
  color: white;
  width: 70px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.button:hover {
  background-color: #bee5e5;
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}
.css-ypiqx9-MuiDialogContent-root {
  padding: 10px;
}
