p {
    font-weight: bold;
  }
  
  .add-supply-form {
    display: flex;
    flex-flow: column;
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
  }
  
  .new-supply-text {
    border-bottom: solid gray 2px;
  }
  
  .input {
    display: flex;
    gap: 30px;
  }
  
  .text-box {
    border: solid lightgray;
    line-height: 30px;
    width: 200px;
    border-width: thin;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    height: 50px;
  }
  
  .dialog-button {
    background-color: #54bcbc;
    height: 40px;
    color: white;
    width: 70px;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  
  .button:hover {
    background-color: #bee5e5;
  }
  
  .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
  }
  
  .css-ypiqx9-MuiDialogContent-root {
    padding: 10px;
  }
  
  .box-container {
    background-color: white;
    width: 45vw;
    height: auto;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }