.header-toolbar-owner {
  background-color: white;
  padding-left: 0 !important;
  justify-content: space-between;

  #logoText {
    text-align: center;
    background-color: #54bcbc;
    width: 20.3%;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
  }
}

.right-side {
  display: flex;
  
}
.__className_e66fe9{
  margin: 0px;
}
