.side-nav-bar-container {
  width: 20%;

  .MuiListItemText-primary {
    font-size: 14px !important;
  }

  .dropdown name {
    font-size: 14px !important;
  }

  .MuiListItemIcon-root {
    min-width: 30px;
  }
}

.nav-section-text {
  padding-left: 16px;
  font-size: 18px !important;
}

.button {
  height: 50px;
  padding-left: 50px;
}

.button-content {
  margin-left: 10px;
  color: black;
}

.dropdown-item {
  border: solid gray 0.5px;
  list-style-type: none;
  background-color: white;
  padding: 0;
  margin-top: 0;
  margin-left: 10px;
}
